@page "/ViewRptBalanceMonth1"
@using adesoft.adepos.webview.Data
@using adesoft.adepos.webview.Data.Model
@using adesoft.adepos.webview.Util
@using  Newtonsoft.Json
@inject IHttpContextAccessor httpContextAccessor
@inject BiableService biableService
@inject NotificationService notificationService
@inject IJSRuntime JSRuntime
@code {
    protected override async Task OnInitializedAsync()
    {
        model = new DTOViewRptCompra();
        model.ListYears = await biableService.SelectAnosContable();
        filter = new DTOFiltersCompras();
        //await JSRuntime.InvokeVoidAsync("$.fn.atachdatepicker");
    }

    DTOFiltersCompras filter;
    public DTOViewRptCompra model { get; set; }
    ConnectionDB connectionDB;
    async Task BtnGenerateRpt()
    {
        //var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;
        if (filter.yearfilter == 0 || filter.multipleValuesMonth.Count()==0)
        {
            ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Error, Summary = "ERROR", Detail = "Todos los filtros son obligatorios.", Duration = 4000 });
            return;
        }
        //events.Add(DateTime.Now, $"{name} value changed to {str}");
        //string filterobj = JsonConvert.SerializeObject(filter);
        string guidfilter = Guid.NewGuid().ToString();
        filter.GuidFilter = guidfilter;
        filter.TypeReportId = 1;
        await biableService.AddFilterCompras(filter);

        //byte[] zipfilter = CompressString.Zip(filterobj);
        //string base64 = Convert.ToBase64String(zipfilter);
        // connectionDB = httpContextAccessor.HttpContext.Session.Get<ConnectionDB>("ConnectionDB");
        string paramurl = "RptContabilidad.aspx?CuentaN=" + connectionDB.CuentaN + "&filterobj=" + guidfilter + "&RptOpt=" + 1;
        await JSRuntime.InvokeVoidAsync("$.fn.LoadReport", paramurl);

        StateHasChanged();
    }

    async void ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            connectionDB = httpContextAccessor.HttpContext.Session.Get<ConnectionDB>("ConnectionDB");
            model.ListMonths.Select(x => x.IdMonth).ToList().ForEach(t => ((IList<long>)filter.multipleValuesMonth).Add(t));
            //((IList<string>)filter.Sedes).Add("001");
            //  ((IList<long>)filter.multipleValuesYear).Add(model.ListYears.OrderByDescending(x => x.IdYear).Select(x => x.IdYear).First());
            //  filter.yearfilter = model.ListYears.OrderByDescending(x => x.IdYear).Select(x => x.IdYear).First();
            // await BtnGenerateRpt();
        }
    }
}
@*<div class="row">
        <label for="Filter4">Fechas</label>
        <div class="input-daterange input-group" id="datepicker">
            <input type="text" class="input-sm form-control" name="start" />
            <span class="input-group-addon">to</span>
            <input type="text" class="input-sm form-control" name="end" />
        </div>
    </div>*@
<div class="card" style="color:#102161;font-weight:bold;">
    <div class="card-header">
        REPORTE SALDOS MENUSALES
    </div>
    <div class="card-body">
        <div class="form-row">

            @*<div class="form-group col-md-2">
            <label for="Filter1">Sede</label>
            <RadzenDropDown Name="Filter1" class="form-control" AllowClear="false" Multiple="true" Data="@model.Sedes" @bind-Value="filter.Sedes" TValue="IEnumerable<string>" TextProperty="Sede" ValueProperty="CodeSede" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" />
        </div>*@

            <div class="form-group col-md-2">
                <label for="Filter4">Año</label>
                <RadzenDropDown AllowFiltering="true" class="form-control" @bind-Value="filter.yearfilter" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Multiple="false" Data="@model.ListYears" TextProperty="Name" ValueProperty="IdYear" />
                @*<RadzenDropDown Name="Filter4" class="form-control" AllowClear="false" TValue="long" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" />*@
            </div>

            <div class="form-group col-md-2">
                <label for="Filter4">Meses</label>
                <RadzenDropDown AllowFiltering="true" class="form-control" @bind-Value="filter.multipleValuesMonth" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Multiple="true" Data="@model.ListMonths" TextProperty="Name" ValueProperty="IdMonth" />
            </div>

            @*<div class="form-group col-md-2">
            <label for="Filter4">Moneda</label>
            <RadzenDropDown AllowFiltering="true" class="form-control" @bind-Value="filter.Moneda" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Multiple="false" Data="@model.ListMonedas"  />

        </div>*@

            <div class="form-group col-md-2">
                <label class="d-block">&nbsp;</label>
                <input class="btn btn-success btn-sm" @onclick="BtnGenerateRpt" value="Generar Reporte" type="button" />
            </div>

        </div>

        <div class="form-row">

            <iframe id="iframeReport" frameborder="0" style="height:450px;width:100%;">
                 
            </iframe>

        </div>
    </div>
</div>